body{
    background-color: #d3d3d3;
}

.paiA{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.filhoA{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.filhoB{
    background-color: rgb(255, 140, 0);
    height: 100px;
    width: 30%;
}

.filhoC{
    background-color: rgb(0, 128, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin: 50px 0px 0px 50px;
}